<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title - Ludtke Designs</title>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="section-title">
        <h2>Portfolio</h2>
    </div>
    <div class="row">
        <div class="column-one">
        </div>
        <div class="column-two">
            <h2>Ludtke Designs</h2>
            <div id="body">
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
        </div>
        <div class="column-three">
            <div>
                <ul id="menu">
                    <li><a href="~/">Home</a></li>
                    <li><a href="~/About">About</a></li>
                    <li><a href="~/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>