/*Sean's Add's and Edits''*/
.row {
    width: 100%;
}

/* Create three equal columns that floats next to each other */
.column-one {
    float: left;
    width: 100px;
    transform: rotate(-180deg);
    writing-mode: tb-rl;
    position: relative;
}

.section-title {
    position: fixed;
    bottom: 90px;
    left: 20px;
    width: 100%;
    transform: rotate(-180deg);
    writing-mode: tb-rl;
}

.column-two {
    text-align: center;
    width: 900px;
    margin: 0 auto;
}

.column-three {
    float: right;
    width: 100px;
}

.column-three ul {
    list-style-type: none;
}

.column-three a {
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    transform: rotate(-180deg);
    writing-mode: tb-rl;
}

.column-three a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.column-three a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

/* Seans End Edits*/